/.metadata/
/Projects/JavaApplication2/nbproject/private/
/Projects/JavaApplication2/build/
/Projects/Projeto1/nbproject/private/
/Projects/Project1/nbproject/private/
/Tarefas/Project1/nbproject/private/
/Tarefas/Project1/build/
/Tarefas/Project1_CRUDE/nbproject/private/
/Tarefas/Project1_CRUDE/build/
